.staff-search-card {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04);
    border-radius: 3px;
    width: 460px;
    height: 150px;
    padding-top: 12px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.staff-search-image {
    width: 125px;
    height: 125px;
    border-radius: 5px;    
    object-fit: cover;
    margin-left: 12px;
}
.staff-search-main-content{
    flex: 3;
    margin-left: 12px;
}
.staff-search-button-content{
    flex: 1;
    display: block;
    justify-content: flex-end;
    margin-right: 12px;    
    margin-bottom: 15px;
}
.staff-button-favorite{
    color: #777;
    margin-left: 8px;
    padding: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.staff-button-next{
    color: #777;
    margin-left: 8px;
    padding: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.staff-button-next:hover{
    color: #7350ff;
    background-color: rgba(0,0,0,0.04);
    border-radius: 50%;
}

.staff-button-favorite:hover{
    color: #ff595e;
    background-color: rgba(0,0,0,0.04);
    border-radius: 50%;
}

.staff-search-category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    border: solid 1px #643efa;
    color: #643efa;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.8rem;}


.staff-search-card-title{
    font-weight: 600;
    font-size: 1.1rem;
    color:rgba(0,0,0,.74);
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.staff-search-card-text {
    font-weight: 400;
    font-size: 0.8rem;
    color:rgba(0,0,0,.74);
}

.staff-job-select{
    display: block;
    width: 160px;
    height: 28px;
    background-color: #fff;
    border: solid 1px #dadce1;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    margin-top: -8px;
  }
  
  .staff-job-select:focus {
    outline: none;
    border: solid 1px #7350ff;
  }
  
  .staff-job-select:hover {
    border: solid 1px #7350ff;
  }