.staffAccepted-card {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04);
    width: 500px;
    min-width: 450px;
    height: 150px;
    padding-top: 12px;
    margin-bottom: 15px;
}

.staffAccepted-image {
    width: 120px;
    height: 120px;
    border-radius: 5px;    
    object-fit: cover;
    margin-left: 12px;
}

.staffAccepted-main-content{
    flex: 3;
    margin-left: 12px;
}

.staffAccepted-button-content{
    flex: 1;
    display: block;
    justify-content: flex-end;
    margin-right: 12px;    
    margin-bottom: 15px;
}

.staffAccepted-category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    border: solid 1px #523BE4;
    color: #523BE4;
    border-radius: 5px;
    margin-right: 5px;
}



.staffAccepted-button-payment{  
    display: flex;
    border: solid 1px #523BE4;
    color: #523BE4;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;    
}

.staffAccepted-button-payment:hover {
    border: solid 1px #523BE4;
    color: #fff;
    background-color: #523BE4;
}

.staffAccepted-card-title{
    font-weight: 700;
    font-size: 17px;
    color: #484848;
    line-height: 20px;
    margin-top: 8px;
}


.staffAccepted-card-category {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    margin-bottom: 18px;
}

.staffAccepted-card-text {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
}