.register-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #fff;    
  }

  .register-banner{
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/register02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

  .register-content{  
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  } 
  
  .register {
    display: block;
    background-color: #fff;
    height: 630px;
    width: 450px;
    justify-content: center;
    padding-left: 39px;
    z-index: 1;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .register-title {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #523BE4;
  }

  .register-label {
    font-weight: 400;
    color: #777;
    margin-bottom: 5px;    
    font-size: 16px;
  }
  
  #register-input {
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  
  #register-input__password{
    padding-left: 12px;
    margin-top: 0;    
    margin-bottom: 15px;
  } 
   
  .register-error {
    font-size: 14px;
    color: #BA000D;    
    padding-top: 5px;
  }  

  #register-button{
    margin-top: 25px;
    margin-bottom: 15px;
  }

  #register-button-separator {
    background-color: #fff;
    color: #523BE4;
    margin-top: 25px;
  }
  
  .register-link__password {
    display: flex;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 600;
    color: rgb(84, 123, 240);
    justify-content: flex-end;
    text-decoration: underline;
  }

  .register-link__password:hover {
    color: #523BE4;
    text-decoration: none;
  }

  .register-separator {
    margin-top: 25px;
    border-top: solid 1px #dadce1;
  }

  .register-link__text{
    font-size: 16px;
    font-weight: 400;
    color: #777;
    margin-top: 25px;
    text-align: center;
  } 
  
  .register-link:hover {
    filter: brightness(1.1);
  }
  
  @media screen and (max-width: 800px) {
    .register-banner {
      flex: 0
    };  
  }
  