.editJob {
    display: flex;
    margin-left: 240px;
    padding-top: 70px;
    height: 95vh;
}

.editJob-list {
    display: flex;
    flex: 1;
    justify-content: center;
}

.editJob-list-container {
    display: block;
    margin-top: 5%;
}

.editJob-create{    
    display: flex;
    flex: 1;
    justify-content: center;
}

.editJob-list-title{
    font-weight: 700;
    color: #484848;
}

.editJob-create-form{
    display: flex;
    height: 600px;
    width: 500px;
    background-color: #fff;
    justify-content: center;
    align-items: center;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04);
    margin-right: 10px;
    margin-bottom: 5%;
    margin-left: 10px;
    padding-left: 75px;
}

.editJob-create-title{
    font-weight: 700;
    font-size: 1.43rem;
    color: #484848;
    padding-bottom: 25px;
    margin-left: 30px;
}

.editJob-create-label{
    font-weight: 400;
    color: #777;
    margin-bottom: 2px;   
    margin-top: 5px;     
    font-size: 16px;
}

.editJob-create-selector{
    width: 350px;
    height: 40px;
    background-color: #fff;
    border: solid 1px #dadce1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
    margin-right: 10px;
}

.editJob-create-selector:focus{
    outline: none;
    border: solid 1px #523BE4;
}

.editJob-create-selector:hover{
    border: solid 1px #523BE4;
}

.categories-selected-box {
    display: inline;
}

#editJob-create-button{
    width: 350px;
    margin-top: 20px;
}

.form-bussiness-adress{
    display: flex;
}

#editJob-addess-street{
    width: 277px;
    margin-right: 3px;
}

#editJob-address-number{
    width: 70px;
}

#editJob-address-city{
    width: 137px;
    margin-right: 3px;
}

#editJob-address-bairro{
    width: 137px;
    margin-right: 3px;
}

#editJob-address-state{
    width: 70px;
}

@media screen and (max-width: 600px) {
    .jobs {
      margin-left: 0
    }
  }



