.favorites {
    display: flex;
    justify-content: center;
    margin-left: 220px;
    height: 95vh; 
    margin-top: 70px; 
}

@media screen and (max-width: 600px) {
    .favorites {
      margin-left: 0
    }
  }