.main-header{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 70px;   
    width: 100%;
}

.main-header-nav {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    width: 1200px;
 }

.main-header-menu{
    display: flex;
    flex-direction: 'row';
}

.main-header-link{
    color: #7350ff;
    margin-right: 15px;
    font-weight: 700;
}

.main-header-register{
    border: solid 1px #7350ff;
    color: #7350ff;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px;    
}

.dropdown-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color:  rgba(0,0,0,0.4);
    z-index: 2;
  }
  
  .dropdown-menu {
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background-color: #fafafa;
    padding: 30px;
  }

  .menu-dropdown__icon {
    padding-right: 8px;
  }

  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.5rem;
    color: #7350ff;
    font-weight: 700;
  }

  .menu-item-register{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5rem;
    color: #7350ff;
    font-weight: 700;
    border: solid 1px #7350ff;
    background-color: #7350ff;
    color: #fff;
    margin-bottom: 8px;
  }

  .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.02);
    filter: brightness(1.2);
  }

  .close-menu__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 15px;
  }
