.upload-image__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgb(255, 255, 255);
}

.image-dropzone {
  display: flex;
  border: 1px dashed rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  cursor: pointer;
  width: 350px;
  height: 44px;
  margin-left: 0;
  transition: height 0.2s ease;
  margin-top: 3px;
  padding-left: 10px;
}

.image-dropzone:hover {
  border-color: #484848;
}

.image-dropzone:focus {
  outline: none;
  opacity: 0.8;
}

.image-upload__message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  font-size: 13px;
}

.file-list{
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
}


.file-list__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
}

.file-info {
  display: flex;
  align-items: center;
}

.file-info__data {
  display: flex;
  flex-direction: column;
}

.file-info__name {
  font-size: 13px;
}

.file-info__span {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.file-info__button {
  border: 0;
  background: transparent;
  color: #e57878;
  margin-left: 5px;
  cursor: pointer;
}
