.landing-page {
  padding-top: 60px;
}

.landing-page_hero{
  align-items: center;
  justify-content: center;
}

.hero-title{
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}

.hero-subtitle{
  margin-top: 25px;
  font-weight: 600;
  font-size: 1.3rem;
  color:rgba(0,0,0,.64);
  text-align: center;
}

.hero-button__container{
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.hero-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  background-color: #643efa;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 3px;
  padding: 4px 16px;
}

.hero-button:hover{
  background-color: #7350ff;

}
